@model EmprestimoModel

@if (ViewBag.mensagem != null)
{
    <script>
        alert('@ViewBag.mensagem')
    </script>
}
<div class="container py-5">
    <div class="card shadow">
        <div class="card-header bg-primary text-white">
            <h4 class="mb-0">Edição de Empréstimo de Livros</h4>
        </div>
        <div class="card-body">
            <form method="post" asp-action="ResultadoEdicao">
                <div class="row g-3">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input 
                        value="@Model.Id"
                           asp-for="Id"
                        type="hidden"
                        readonly />
                    <div class="col-md-6">
                        <div class="form-group mb-3">
                            <label class="form-label">Nome do Recebedor</label>
                            <input type="text"
                                   asp-for="RecebedorNome"
                                   class="form-control"
                                    value="@Model.RecebedorNome">
                            <span class="text-danger" asp-validation-for="RecebedorNome"></span>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group mb-3">
                            <label class="form-label">Nome do Livro</label>
                            <input type="text"
                                   asp-for="LivroEmprestadoNome"
                                   class="form-control"
                                    value="@Model.LivroEmprestadoNome">
                            <span class="text-danger" asp-validation-for="LivroEmprestadoNome"></span>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group mb-3">
                            <label class="form-label">Nome do Fornecedor</label>
                            <input type="text"
                                   asp-for="FornecedorNome"
                                   class="form-control"
                                    value="@Model.FornecedorNome">
                            <span class="text-danger" asp-validation-for="FornecedorNome"></span>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group mb-3">
                            <label class="form-label">Data do Empréstimo</label>
                            <input type="text"
                                   asp-for="DataEmprestimoLivro"
                                   class="form-control"
                                   value="@Model.DataEmprestimoLivro"
                                   readonly>
                            <span class="text-danger" asp-validation-for="DataEmprestimoLivro"></span>
                        </div>
                    </div>
                </div>

                <div class="col-md-2 justify-content-md-start mt-4">
                    <label class="form-label">Status: </label>
                    <input asp-for="Status"
                           readonly
                           value="@Model.Status"
                           type="text"
                           class="form-control">

                    </input>

                </div>

                <div class="d-grid gap-2 d-md-flex justify-content-md-end mt-4">
                    <button type="submit" class="btn btn-primary">Registrar Empréstimo</button>
                </div>


            </form>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
